html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
  color: white;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
